* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkmagenta;
}
.main_game {
  width: 340px;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  margin-top: 150px;
}
.game_nam {
  align-items: center;
  margin-top: 50px;
  margin-left: 100px;
  border: solid brown;
  margin-left: 20px;
  cursor: pointer;
}
.game {
  margin-left: 90px;
}
.game_nam {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

a {
  text-decoration: none;
}

.hap {
  background-color: aqua;
  width: 500px;
  height: 450px;
  margin-left: 460px;
  margin-top: 100px;
  border-radius: 10px;
}
.happy img {
  width: 200px;
  margin-left: 150px;
}
.hap button:hover {
  background-color: blue;
}
.hap button {
  border-radius: 6px;
  background: red;
  color: #fff;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-left: 100px;
  margin-top: 70px;
  transition: 1s;
}
